{% extends 'base.html' %}
{% block title %}  Login {% endblock %}
{% block links %}

<a href="{% url 'home' %}" class="px-5 py-2 duration-500">Home</a>
<a href="{% url 'lawyer_register' %}" class="px-5 py-2 duration-500">Lawyer Register</a>
<a href="{% url 'user_register' %}" class="px-5 py-2 duration-500">User Register</a>

{% endblock %}
{% block content %}

    <main class="flex justify-center py-10 bg-slate-900">
        <div class="register px-16 py-10 rounded-lg flex flex-col gap-3 w-1/2 border border-white bg-slate-700 text-white overflow-clip">
            <h1 class="text-4xl font-semibold">Login</h1>
            <hr>
            <form action="" method="POST" class="flex flex-col gap-2">
                {% csrf_token %}
                <label class="font-light" for="email">Email-ID:</label>
                <input class="bg-slate-100 outline-none ring-slate-400 focus:ring-4 py-2 px-5 text-slate-900 rounded-md" type="email" name="email" id="email">
                <label class="font-light" for="password">Password:</label>
                <input class="bg-slate-100 outline-none ring-slate-400 focus:ring-4 py-2 px-5 text-slate-900 rounded-md" type="password" name="password" id="password">

                {% for msg in messages %}
                    <h1 class="text-sm rounded-md bg-red-600 color-white py-1 px-3">{{msg}}</h1>
                {% endfor %}
                <input type="submit" value="Log In" class="focus:font-bold ring-offset-4 mt-5 text-xl border py-2 rounded-lg border-slate-100 active:bg-slate-100 active:text-slate-900 ring-slate-500 focus:ring-4">
            </form>
        </div>

    </main>

{% endblock %}